body {

    background: linear-gradient(to right, #ACBB78, #F7F8F8);

    text-align: center;

    font-size: 20px;

}

.head {

    position: fixed;

    width: 100%;

}

.headline {

    font-size: 45px;

    font-family: 'Dancing Script', cursive;

    font-family: 'Pacifico', cursive;

}

.headimage {

    display: inline-block;

    animation: 2s img none;

    width: auto;

    height: auto;

}

@keyframes img {

    0% {

        transform: translateY(15px);

        opacity: 0;

    }

    100% {

        transform: none;

        opacity: 1;

    }

}

hr {

    border: none;

}

hr::before {

    content: '***';

    text-align: center;

    display: block;

}

@keyframes move_wave {

    0% {

        transform: translateX(0) translateZ(0) scaleY(1)

    }

    50% {

        transform: translateX(-25%) translateZ(0) scaleY(0.55)

    }

    100% {

        transform: translateX(-50%) translateZ(0) scaleY(1)

    }

}

.waveWrapper {

    overflow: hidden;

    position: absolute;

    left: 0;

    right: 0;

    bottom: 0;

    top: 0;

    margin: auto;

}

.waveWrapperInner {

    position: absolute;

    width: 100%;

    overflow: hidden;

    height: 100%;

    bottom: -1px;

    background: none;

}

.bgTop {

    z-index: 15;

    opacity: 0.5;

}

.bgMiddle {

    z-index: 10;

    opacity: 0.75;

}

.bgBottom {

    z-index: 5;

}

.wave {

    position: absolute;

    left: 0;

    width: 200%;

    height: 100%;

    background-repeat: repeat no-repeat;

    background-position: 0 bottom;

    transform-origin: center bottom;

}

.waveTop {

    background-size: 50% 100px;

}

.waveAnimation .waveTop {

    animation: move-wave 3s;

    -webkit-animation: move-wave 3s;

    -webkit-animation-delay: 1s;

    animation-delay: 1s;

}

.waveMiddle {

    background-size: 50% 120px;

}

.waveAnimation .waveMiddle {

    animation: move_wave 10s linear infinite;

}

.waveBottom {

    background-size: 50% 100px;

}

.waveAnimation .waveBottom {

    animation: move_wave 15s linear infinite;

}

ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

    ;

    overflow: hidden;

    background-image: linear-gradient(to right, black, #333);

    background: linear-gradient(to left, #cbcaa5, #334d50);

}

li {

    float: left;

    border-right: 1px solid black;

}

li a {

    display: block;

    color: white;

    text-align: center;

    padding: 20px 22px;

    text-decoration: none;

}

li:first-child {

    border-right: 4px solid black;

}

li:last-child {

    border-right: none;

}
